button {
  background-color: red;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  min-width: 80px;
  height: 50px;
}

button:disabled {
  background: pink;
  cursor: not-allowed;
}